[2019-09-18 10:08] kevinbayes opened #1 "Move to non platform plugin"

[2019-09-18 10:09] kevinbayes opened #2 "Mark down all features based on ionic implementation"

[2019-10-02 00:56] tuantvu opened #3 "Not working on iOS simulator?"
Got project to build and launched the example, but after entering a valid meeting id with no password, just get a blank "Loading meeting" Screen. Getting this in Android Studio debug:

flutter: Created the view
flutter: initialised
flutter: [1, 0]
[VERBOSE-2:platform_view_layer.cc(22)] Trying to embed a platform view but the PrerollContext does not support embedding
[VERBOSE-2:platform_view_layer.

[2019-10-02 01:56] kevinbayes commented on #3
Hi,

Just checkin did you add your zoom app key, secret and domain (if needed) to:
```https://github.com/decodedhealth/flutter_zoom_plugin/blob/master/example/lib/meeting_screen.dart```?

The flutter: [1, 0] means that the zoom sdk did not initialise properly, perhaps due to the app key and secret.

Past that the error in the log indicates that the preview needs to be enabled in the Info.plist whi

[2019-10-04 03:37] kevinbayes commented on #3
@tuantvu did that work for you?

[2019-10-09 00:52] kevinbayes commented on #3
Close due to inactivity

[2019-10-09 00:52] #3 closed

[2019-10-09 04:40] tuantvu commented on #3
Sorry about that, I was out of town. I will test and try again, but that was probably the problem. Thanks

[2019-11-02 21:24] shaharsol opened #4 "Error on android emulator"
Can you figure out what's wrong? I'm using an emulator with API version 29, maybe that's too high?

[code]

[2019-11-03 10:57] shaharsol opened #5 "Can't start video on iphone simulator"
While can't get it to work on Android #4 , It did partly work on iOS. It just won't let me start the video. Clicking the button changes nothing. Should I config something? Maybe the simulator needs special permissions?

<img width="454" alt="Screen Shot 2019-11-03 at 12 42 48" src="https://user-images.githubusercontent.com/672778/68084065-59852600-fe39-11e9-8a4b-bd02bf29a349.png">

[2019-11-04 23:40] kevinbayes commented on #4
I need to update the library zoom sdk.

[2019-11-04 23:42] kevinbayes commented on #5
iOS emulator camera does not seem to work, do real device testing to test this out.

[2019-11-04 23:42] #5 closed

[2019-11-04 23:55] kevinbayes commented on #4
@shaharsol try the latest commit and let me know.

[2019-11-05 10:33] shaharsol commented on #4
@kevinbayes now it works when i run your sample app (should the video looks like this?):

<img width="365" alt="Screen Shot 2019-11-05 at 11 50 24" src="https://user-images.githubusercontent.com/672778/68200210-14432e80-ffc8-11e9-9c15-5653b2dc10cb.png">

However, in *my* app, that uses the plugin as a dependency in this manner:

[code]

I still get the same exception, though I'm pretty sure I've r

[2019-11-05 21:29] shaharsol opened #6 "minSdkVersion 26"
Any particular reason it is set so high? Zoom SDK supports minSdkVersion of 14.

[2019-11-06 03:42] kevinbayes commented on #4
@shaharsol yes that is the correct view for the emulator using the camera. You should test on device to get a feel of what it would look like on a real phone.

One question has your app been upgraded to androidx?

[2019-11-06 09:34] shaharsol commented on #4
@kevinbayes

Added those lines to `gradle.properties` and the `targetSdk` is 29 so AFAIK it's enough to migrate it to androidx.

Getting the same error message, only this time it's the adnroidx class (`Landroidx/fragment/app/FragmentActivity`)that it's DEF isnn't found:

[code]

[2019-11-06 21:33] kevinbayes commented on #4
@shaharsol can you create a repository with your setup that simulates the error? Then I can help out on fixing it.

[2019-11-06 21:35] kevinbayes commented on #6
No reason, just what I tested with for our mobile application.

[2019-11-06 21:35] #6 closed

[2019-11-07 08:58] shaharsol commented on #4
@kevinbayes added you as collaborator, invite is here https://github.com/shaharsol/sanghaline-flutter/invitations
To reproduce:

1. sign in with username kevin@gnift.com, password 123456
2. navigate to instructors
3. click on the first one (Vidad)
4. navigate to Calendar
5. click the first item, this should start the zoom session

Thanks!

[2019-11-07 09:47] kevinbayes commented on #4
Moved this thread to your project.

[2019-11-07 09:47] #4 closed

[2019-11-10 00:22] kevinbayes opened #7 "Upgrade to the latest ZoomSDK's"

[2019-11-12 08:14] #7 closed

[2019-11-12 13:04] shaharsol opened #8 "Handle navigation on LeaveMeeting"
What do I do to respond to the event when the user clicked "Leave meeting" inside the zoom chat? or otherwise when the chat is closed?

[2019-11-13 06:14] kevinbayes commented on #8
Good question, so the event stream for the status has not been done yet. So as soon as that becomes available it will be a lot easier. Currently, though you need to poll for the meeting status, but it seems the status from the iOS sdk is not consistent with android. So in saying that, I would recommend having a page that is 'under' or shadows the meeting. Then page will be show when the meeting ha

[2019-11-20 16:45] shaharsol opened #9 "error building for iOS"
This started IMHO with the latest version of the plugin:

[code]

[2019-11-22 02:52] kevinbayes commented on #9
Interesting, we have used this for a number of successful builds.

Can you send me the command you are using to build?

[2019-11-22 03:02] kevinbayes commented on #9
Moved thread to different project.

[2019-11-22 03:02] #9 closed

[2019-11-22 03:02] #8 closed

[2019-11-25 05:29] kevinbayes commented on #9
@shaharsol thanks for the feedback, I added a new branch called master_dev that will use the simulator iOS sdk provided by zoom. Adding the note here for recording purposes only.

[2019-12-06 03:54] kevinbayes opened #10 "Remove print lines from swift"

[2020-03-11 05:11] vulieumang opened #12 "How to use it? I had download and run in VSCode"
Hello,
How to use it? I had download and run in VSCode
about 2 project main and example
Main
![image](https://user-images.githubusercontent.com/13487753/76384350-2d525680-6391-11ea-9188-83c7465f2465.png)
Example
![image](https://user-images.githubusercontent.com/13487753/76384413-5c68c800-6391-11ea-9f46-42cd644cf12a.png)

Please help to run it

[2020-03-12 08:08] DzungTNgo commented on #12
Hi,

I am not sure what issue you are having here.
Please make sure you have followed the instructions to set up flutter and your IDE on your device here [https://flutter.dev/docs/get-started/install/macos](https://flutter.dev/docs/get-started/install/macos).
You should be able to run the example after setting up flutter correctly.

Cheers,

[2020-03-12 10:05] vulieumang commented on #12
Thank you, I mean, When I download the package and run example it have error and I had screenshot it.
I had build some app flutter before.
Are you run success example is this package, if success what step you do?

[2020-03-12 22:35] DzungTNgo commented on #12
The example can be started by running the `example/lib/main.dart`.
Please make sure that you are using the `master_dev` branch if you are testing with the simulator. You will also need a Zoom API key/secret pair to test it.

I can see also there is the error `Linker Command failed with exit code 1 (use -v to see invocation)`. Please check the log to see what causes that issue.

[2020-03-13 08:46] vulieumang commented on #12
Thank you DzungTNgo,
I had success run it.
For iOS dev:
I only run on real device, not simulator, and need add permission for camera, audio and internet, config team on xcode.
![image](https://user-images.githubusercontent.com/13487753/76604578-8eb92780-6541-11ea-90a2-1ddeba92cbe9.png)

Android is can run normal.
Remember put key and secret key in meeting_screen.dart
![image](https://user-images.g

[2020-03-21 09:33] shpy2001 opened #14 "Crash on Android in release."
I has tested on 10 Android devices. All of them crash when run release but ok on debug mode !

Android Logcat show this:

2020-03-21 16:30:57.324 21419-21419/? E/ZMBuildConfig: parse build target failed. value=TARGET_ZOOM
    java.lang.NoSuchFieldException: TARGET_ZOOM
        at java.lang.Class.getField(Class.java:1549)
        at g.a.b.n.<clinit>(ZMBuildConfig.java:4)
        at com.zipow.cmmlib

[2020-03-21 13:32] shpy2001 commented on #14
I found it crash by proguard. So, i added these line in proguard file and it work now.

-keep class us.zoom.** { *; }
-keep class us.zipow.** { *; }
-keep class com.zipow.** { *; }
-keep class org.webrtc.** { *; }

-dontwarn us.zoom.**
-dontwarn com.zipow.**

[2020-03-21 13:32] #14 closed

[2020-03-21 18:43] salahturkmen commented on #12
Sir, can you share the project without a api keys?

[2020-03-22 07:56] vulieumang opened #15 "How to build on emulator iOS, ignore this plugin"
Hi,
I had build and run on iOS real device, both android emulator and real device.
But I want test my app on iOS emulator for other function in app, and if I had embed this plugin, I can not build on emulator.
Anybody I know the way to ignore if I build on emulator iOS, and still run if I move to real device or Android.
It important with me, really thank too much if anybody can help!

[2020-03-23 21:56] kevinbayes commented on #15
@vulieumang thanks for trying it out.

When adding the dependency for iOS using the emulator did you ensure the plugin was 'master_dev' branch?

[2020-03-24 00:32] cacianokroth opened #17 "HELP, dont working on ANDROID release mode"
- When I make a release build with zoom in on the app, it crashes the application when opens a zoom widget.
(I believe it is happening when generated in release mode.)

[2020-03-24 13:56] cacianokroth commented on #14
To me it`s don`t working @shpy2001  :(

[2020-03-24 14:55] #17 closed

[2020-03-24 14:55] cacianokroth commented on #17
Add guards, resolve this:
https://github.com/zoom/zoom-sdk-android/blob/master/mobilertc-android-studio/sample/proguard.cfg

[2020-03-24 14:59] cacianokroth commented on #14
correctly guards:
[code]

[2020-03-28 03:31] #15 closed

[2020-03-28 03:32] #12 closed

[2020-03-28 21:30] ortal83cohen opened #18 "'flutter_zoom_plugin/flutter_zoom_plugin-Swift.h' file not found"
Can't build with Xcode Version 11.3.1.
I get 'flutter_zoom_plugin/flutter_zoom_plugin-Swift.h' file not found

[2020-03-29 00:34] kevinbayes commented on #18
Hi @ortal83cohen ,

Thanks for the feedback, can you give us a little more information on the error. Flutter doctor and steps to reproduce.

Note if you are running it on the simulator use master_dev branch and use flutter from the command line to run the app. We do not currently us xcode to run apps, but rather just the command line.

[2020-03-29 07:24] #1 closed

[2020-03-29 08:05] shpy2001 commented on #14
Sorry for my typing mistake.

[2020-03-29 09:09] #10 closed

[2020-04-02 18:59] superbrains opened #19 "Create, Schedule Meetings"
How can I create and schedule meetings with this plugin?

[2020-04-02 21:39] kevinbayes commented on #19
@superbrains this is not currently available, our use case was to join meetings. We happy to accept contributions as the integration is done, just need to bring the plugin up to feature parity actual SDKs.

[2020-04-05 06:31] #18 closed

[2020-04-05 14:30] elziny opened #20 "Failed to initialize Zoom SDK"
Hello bro.
I've problem I cant join meeting, I use "example" code but it show this error.
"Failed to initialize Zoom SDK"

I use SDK zoom app but I can't know it's ok or which type i must use, and I don't know from where I get domian and userId.

Can you explain for me more ?

Thanks bro.

[2020-04-05 21:19] kevinbayes commented on #20
@elziny you need to:

1. Signup for  a zoom account
2. Create an application (https://marketplace.zoom.us/develop/create) to get SDK credentials.
3. Use them in the example app to test test the plugin.

[2020-04-06 19:42] Dcam1710 opened #21 "Flutter Zoom Plugin - Giving a Meeting Idle When Meeting is Active."
Hi Kevin,

I've been using your Zoom plugin in a project I've been working on for the past few months and it's been working fine over the past few days, I've been getting this error when trying to start a meeting.
"MEETING_STATUS_IDLE - No meeting is running"

I have the meeting active in another Zoom app outside of my application and it works when I'm using it from Zoom app to Zoom app but for so

[2020-04-06 21:16] kevinbayes commented on #21
@Dcam1710 thanks for reporting this. We are in the process of upgrading to the latest zoom sdk so will be sure to have a look at that when testing.

If you need the previous version you can roll back to tag 0.0.3 to see if you get the same behaviour as you did before.

[2020-04-07 16:58] Dcam1710 commented on #21
@kevinbayes Thanks for your response and the help, this resource has been really helpful.
I worked on using the rolled back to version 0.0.3 like suggested but getting a MobileRTC error...
"Got response from join: MobileRTCMeetError(rawValue: 0)" error when trying to connect to an active meeting. If you don't have a solution to this issue yet, do you know about how long upgrading the current plugi

[2020-04-10 08:01] kevinbayes commented on #21
@Dcam1710 Ill have a look into this late next week.

[2020-04-10 19:14] gfiury commented on #20
Hello guys,

Awesome plugin!!!

I'm having the same error "Failed to Initialize Zoom SDK". I've already changed the MeetingWidget with my ApiKey and ApiSecret.

Replaced
[code]

The ApiKey and ApiSecret are working because I'm using those on an API to create a new Meeting.

[code]
Am I missing something?

Thanks

[2020-04-10 20:42] gfiury commented on #20
Debugging, got the a INTERNAL ERROR CODE: 3023. This means "Your SDK key or secret is invalid".

The Key and Secret I have are OK, even print the values of both at the init function.
Double check the values, with these I'm generating new calls by demand.

I do not know what I'm doing wrong :/

[2020-04-11 00:43] kevinbayes commented on #20
@gfiury What platform are you trying to login with?

[2020-04-11 02:27] gfiury commented on #20
@kevinbayes tried with a device with v10 (Q) and the emulator of Android Studio with v8. Both cases the same error.
Attached is the pubspec lock file, I'm going to upload the logs later.
Thanks
[pubspec.zip](https://github.com/decodedhealth/flutter_zoom_plugin/files/4463917/pubspec.zip)

[2020-04-12 11:09] shinriyo opened #22 "Crash in iOS"
I build for iOS but crashed.
<img width="1036" alt="Screen Shot 2020-04-12 at 20 09 03" src="https://user-images.githubusercontent.com/396927/79067353-877c6980-7cf9-11ea-8428-d4f367536e4e.png">

[code]

[2020-04-12 11:12] shinriyo commented on #22
`git checkout master_dev`

[2020-04-12 11:13] shinriyo commented on #22
but same

[2020-04-12 11:14] shinriyo commented on #22
[code]

log of Xcode

[2020-04-12 11:18] shinriyo commented on #22
Ah, it is Apple's  bug!!!

https://github.com/flutter/flutter/issues/49504#issuecomment-592767041

`real iPhone + iOS 13.3.1 + Personal Team` are bad.

`iOS 13.4 beta 3（17E5241d` was fix.
I try to install iOS 13.4 stable, already released.

[2020-04-12 12:38] shinriyo commented on #22
I updated to ` 13.4 `

resolved.

[2020-04-12 12:38] #22 closed

[2020-04-12 13:42] shinriyo commented on #19
ah, this sample can join just someone's room?
can not create a room?

[2020-04-13 12:27] ramsubramani opened #23 "How to Enable Custom Meeting UI for flutter_zoom_plugin"
How to Enable Custom Meeting UI for  flutter_zoom_plugin? ...Is it possible? if possible can you tell me here step be stepl ...Thank you

[2020-04-13 22:14] kevinbayes commented on #23
@ramsubramani no its not possible, you would need to modify the underlying zoom sdk assets directly. We are working on a command line to install the zoom sdk from a custom location. So that will help your usecase.

[2020-04-13 22:14] #23 closed

[2020-04-14 06:31] shinriyo opened #24 "sound problem"
Can it play sound?

[2020-04-15 06:16] ramsubramani commented on #23
Hi @kevinbayes , I am sorry if my question is not clear. Let me put it straight here, can we resize the zoom meeting screen layout (From full screen to half screen)? does zoom sdk support this for flutter?

[2020-04-15 07:32] kevinbayes commented on #24
Yes, its just a wrapper around the zoom sdk.

[2020-04-15 07:32] #24 closed

[2020-04-15 23:37] shinriyo commented on #24
@kevinbayes
Yes. but it disabled the microphone.
I guess it should turn on the microphone.

[2020-04-19 02:02] kevinbayes commented on #19
@shinriyo that is correct, only join. No support for creating a meeting.

[2020-04-19 02:32] kevinbayes commented on #17
Thanks this is useful information that has not made it into a readme yet.

[2020-04-19 02:36] kevinbayes commented on #24
@shinriyo ah right, in the upgrade zoom branch I have added support to enable audio on join using the 'noDisconnectAudio' parameter as true.

[2020-04-19 02:53] kevinbayes commented on #21
@Dcam1710 we have started to test the upgrade. The new Zoom SDK is larger than the previous so emulator testing will not be upgraded.

[2020-04-26 06:22] mikylucky opened #25 "Bringing down Android minSDKVersion"
Hi,
the package uses an Android minSDKVersion of 24, but the Android Zoom SDK uses 14.

Is there any specific reason why it has been brought up to 24?

[2020-04-26 06:53] mikylucky commented on #25
I've noticed you already replied here #6

Should I work on a pull request lowering the minSDKVersion?

[2020-04-26 09:26] kevinbayes commented on #25
Sure, we are currently working on upgrading to the latest zoom. This will be merged into master next week, so we can lower it as part of that.

[2020-04-27 08:19] Mohamed-Aswath opened #26 "How to resize the zoom meeting screen layout for flutter_zoom_plugin"
Hi decodedhealth
Let me put it straight here, can we resize the zoom meeting screen layout (From full screen to half screen)? does zoom sdk support this for flutter?

[2020-04-27 22:17] kevinbayes opened #27 "Upgrade to Zoom 5"

[2020-04-28 12:44] kevinbayes commented on #26
@Mohamed-Aswath sorry, currently we have not looked into doing this or even looked into if it is supported by the native sdks.

[2020-04-29 21:06] #26 closed

[2020-04-29 21:07] kevinbayes commented on #20
I have upgraded the plugin and will merge to master as soon as it has been tested. There is an open pull request that you can test.

[2020-04-30 21:17] gfiury commented on #20
Thanks @kevinbayes, I been investigating the cause and it was that you need specific SDK credentials to make it work. You can't use JWT credentials, so with the new SDK credentials works perfectly.

[2020-04-30 22:55] #19 closed

[2020-04-30 22:56] #20 closed

[2020-05-01 04:50] kevinbayes commented on #25
@mikylucky we moving it down to 21 which is inline with the latest zoom android sdk.

[2020-05-01 04:50] #25 closed

[2020-05-01 04:55] #21 closed

[2020-05-01 04:55] #27 closed

[2020-05-01 10:07] suriyaKalidoss123 opened #29 "Meeting is invalid"
When I run your app, After entering the meeting id and password. Alert box shows the meeting is invalid.

[2020-05-01 10:59] DzungTNgo commented on #29
Hi,

Could you give us more information, such as the running platform, flutter doctor, what was your input and step to reproduce it.

Make sure that you have an active meeting and no space in the meeting id.

[2020-05-02 12:41] suriyaKalidoss123 commented on #29
Flutter Doctor Version:
[√] Flutter (Channel stable, v1.12.13+hotfix.9, on Microsoft Windows [Version 10.0.19041.207], locale en-IN)
[!] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    X Android license status unknown.
      Try re-installing or updating your Android SDK Manager.
      See https://developer.android.com/studio/#downloads or visit https://flutter.dev

[2020-05-03 02:12] #2 closed

[2020-05-03 02:16] DzungTNgo commented on #29
The meeting id and password you are using there are not valid Zoom meeting id nor password. They are just some random strings. Please look at Zoom instruction son how to use Zoom. create Zoom meetings and join a meeting

[2020-05-04 05:44] #29 closed

[2020-05-04 05:46] suriyaKalidoss123 opened #31 "After pressing join button,Still it is showing preparing meeting"
**Flutter Doctor Version:**
[√] Flutter (Channel stable, v1.12.13+hotfix.9, on Microsoft Windows [Version 10.0.19041.207], locale en-IN)
[!] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    X Android license status unknown.
      Try re-installing or updating your Android SDK Manager.
      See https://developer.android.com/studio/#downloads or visit https://flutter

[2020-05-04 07:16] kevinbayes commented on #31
Hi @suriyaKalidoss123
From the logs it seems like you are not entering a valid meeting id.

Steps to join a meeting are as follows:
1. Start a zoom meeting with the zoom app.
2. Copy the meeting id and the password from the meeting invite.
3. Start the example application
4. Using the meeting id and password you copied from the zoom meeting enter those into the meeting id and password fields and c

[2020-05-04 07:22] kevinbayes opened #32 "Flutter Web Support"
**Describe the solution you'd like**
Add web support for flutter. This will allow users to also use the web to join meeting.

[2020-05-04 07:24] suriyaKalidoss123 commented on #31
@kevinbayes  sorry the logs does not belong to the issue, I had done exactly what you said above, Then only this issue arises

[2020-05-04 21:25] kevinbayes commented on #31
@suriyaKalidoss123 can you post the relevant logs please.

[2020-05-05 07:39] #31 closed

[2020-05-05 08:01] suriyaKalidoss123 opened #33 "Unable to build the sample"
## Your Environment
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.9, on Microsoft Windows [Version 10.0.19041.207], locale en-IN)
[!] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    X Android license status unknown.
      Try re-installing or updating your Android SDK Manager.
      See https://developer.an

[2020-05-05 08:42] suriyaKalidoss123 commented on #33
This issue occurs also in 0.0.5 version
  flutter_zoom_plugin:
    git:
      url: git://github.com/decodedhealth/flutter_zoom_plugin.git
      ref: 0.0.5

[2020-05-05 13:46] suriyaKalidoss123 commented on #31
issue resolved, When tested in different devices.

[2020-05-05 13:59] suriyaKalidoss123 commented on #33
IN 0.0.4 version this issue occurs

flutter_zoom_plugin:
    git:
      url: git://github.com/decodedhealth/flutter_zoom_plugin.git
      ref: 0.0.4

Launching lib\main.dart on SM A605G in debug mode...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':flutter_zoom_plugin:mergeDebugJavaResource'.

* Try:
Run with --stacktrace option to get the stack trace. R

[2020-05-06 03:59] suriyaKalidoss123 commented on #33
@kevinbayes  Please help me resolve this issues

[2020-05-07 06:12] envy13 opened #34 "Need Webinar Functionality ..."

[2020-05-07 13:06] suriyaKalidoss123 commented on #33
@kevinbayes, please guide

[2020-05-08 02:37] LucasFancation opened #35 "It is showing More than one file was found with OS independent path 'res/drawable/zm_next_arrow.xml after debugging"
## Your Environment
* Plugin version:
* Platform: Android
* OS version: Android API 28
* Device manufacturer / model: Android Emulator
* Flutter info (`flutter doctor`):
* Plugin config:
flutter_zoom_plugin:
    git:
      url: git://github.com/decodedhealth/flutter_zoom_plugin.git
      ref: master
[code]

## Expected Behavior
I want to be able to debug in my emulator

## Actual Behavior
It is sh

[2020-05-08 11:53] kevinbayes commented on #33
@suriyaKalidoss123 sorry for the delay I will look at your example early next week.

[2020-05-09 06:51] kevinbayes commented on #35
@LucasFancation we will be pushing an update out to fix this.

[2020-05-09 06:52] kevinbayes commented on #33
@suriyaKalidoss123 we will be pushing out an update to fix this.

[2020-05-09 08:53] kevinbayes commented on #35
Okay try tag 0.0.7

[2020-05-09 10:56] LucasFancation commented on #35
Okay thanks Kevin, it works.

[2020-05-09 10:56] #35 closed

[2020-05-09 12:53] suriyaKalidoss123 commented on #33
thanks

[2020-05-09 22:52] kevinbayes commented on #33
@suriyaKalidoss123 please try the new version in your uploaded sample:

Add to pubspec.yaml

[code]

add to app/build.gradle dependencies:

[code]

[2020-05-09 23:10] kevinbayes commented on #34
This is not on our road-map currently, so we will accept pull requests if this needs to be accelerated or this feature will become available when we have time in the future.

[2020-05-10 02:38] suriyaKalidoss123 commented on #33
Thanks for effort,But issue still exist.
Here is the log:
Launching lib\main.dart on SM A605G in debug mode...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':flutter_zoom_plugin:mergeDebugJavaResource'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insight

[2020-05-10 02:52] DzungTNgo commented on #33
Hi,

I can see that you have added the dependencies to the `build.gradle` file.
Just to be sure, did you update the zoom plugin to `0.0.7` in the `pubspec.yaml` file? Also run `flutter clean` and `flutter pub get` before building your app again.

[2020-05-10 02:59] suriyaKalidoss123 commented on #33
@DzungTNgo  added code to app/build.gradle,
Updated to 0.0.7 in YAML,clean,run done
But the issue exists.
Logs:
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':flutter_zoom_plugin:mergeDebugJavaResource'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insight

[2020-05-10 03:02] suriyaKalidoss123 commented on #33
[zoom_sdk (2).zip](https://github.com/decodedhealth/flutter_zoom_plugin/files/4605072/zoom_sdk.2.zip)
**Reattached the sample:**

[2020-05-10 04:30] DzungTNgo commented on #33
Please change to `classpath 'com.android.tools.build:gradle:3.4.2'` in `android/build.gradle` and try again.
I have seen some reported issues with fluttter using verison 3.5.0.

[2020-05-10 08:00] pranavpatilsce commented on #34
Can you post your roadmap to the public? On a kanban baord maybe?

[2020-05-11 08:35] NAGENDRARRR commented on #34
how to add Webinar Functionality

[2020-05-12 00:09] kevinbayes commented on #33
@suriyaKalidoss123 were you able to get this working?

[2020-05-12 10:40] javieralcantara opened #38 "ERROR: More than one file was found with OS independent path 'res/drawable/zm_next_arrow.xml'"
FAILURE: Build failed with an exception.

* What went wrong:

Execution failed for task ':flutter_zoom_plugin:mergeDebugJavaResource'.

[2020-05-12 11:14] DzungTNgo commented on #38
Duplicate of #33

[2020-05-12 17:24] javieralcantara commented on #33
Any solutions..?

[2020-05-13 05:53] suriyaKalidoss123 commented on #33
3.4.2 works fine issue resolved.I have Another question How to create the meeting in your sample?

[2020-05-13 06:39] kevinbayes commented on #33
@suriyaKalidoss123 we do not support creating meeting yet, just joining. Add it as a feature request and we can have a look at it when we have time. Or we welcome pull requests.

[2020-05-13 06:39] #33 closed

[2020-05-14 17:41] tetteu777 opened #39 "Unhandled Exception: PlatformException(error, java.lang.IllegalStateException: Trying to create a platform view of unregistered type: flutter_zoom_plugin"
I cannot run example.

Added:
flutter_zoom_plugin:
    git:
      url: git://github.com/decodedhealth/flutter_zoom_plugin.git
      ref: 0.0.7
to pubspec.yaml at example's folder

Added: proguard.cfg to android folder in example's folder

Launching lib/main.dart on Mi A3 in debug mode...
✓ Built build/app/outputs/apk/debug/app-debug.apk.
W/IInputConnectionWrapper(21329): getTextBeforeCursor on ina

[2020-05-16 01:13] gfiury commented on #39
I have the same problem for Android, I could not fixed it

There is an example here on how to add the proguard.cfg
[Stackoverflow proguard](https://stackoverflow.com/questions/52428973/how-to-minify-a-flutter-app-with-proguard)

You need to change the build.gradle file also not just adding the file into android/app. Android have default names for proguard and you have to set the name.

For example

[2020-05-16 05:06] kevinbayes commented on #39
@tetteu777 can you please provide a sample application that reproduces this error? I can then ave a look into it.

[2020-05-17 00:58] Gabplay commented on #39
Same issue here, using this example project. Tried to add proguard file but it gives the same error.

[2020-05-19 06:32] ashwinnhegde commented on #39
If you are using the flutter v1.17+ its giving the above error. Try to downgrade the version to v1.12.13+hotfix.9 . Use the command `flutter version v1.12.13+hotfix.9`

[2020-06-01 16:51] MohamedAliiMe opened #40 "foregroundServiceType not found Android"
Execution failed for task ':app:processDebugResources'.

  /Users/mohamedali/MohamedWork/AndroidProjects/flutter/flutter_zoom_app/build/app/intermediates/merged_manifests/debug/AndroidManifest.xml:165: AAPT: error: attribute android:foregroundServiceType not found.

  error: failed processing manifest.

[2020-06-03 00:36] rlechetaudemy commented on #39
Same error here:
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.18.0-11.1.pre, on Mac OS X 10.14.6 18G4032,
    locale en-BR)

[2020-06-03 00:50] gfiury commented on #39
Hello guys

I managed to make it work but on another project.

As the exception says **Trying to create a platform view of unregistered type: flutter_zoom_plugin**
there is a problem registering the flutter_zoom_plugin.

The registering occurs at `android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java`

This is the code of the class at the example

[code]

The class is generat

[2020-06-03 02:20] rlechetaudemy commented on #39
I didn't understand how you solve it, since it is a generated file. I tried to change de code, but it got generated again.

[2020-06-03 03:28] gfiury commented on #39
Solved it with a new flutter project, the GeneratedPluginRegistrant is different and the meeting_screen.dart works. I gotta say that the original problem was for Android, the iOS example always worked for me.

[2020-06-03 13:00] rlechetaudemy commented on #39
What version of flutter are you using? I have this version:
Flutter (Channel master, 1.18.0-11.1.pre

[2020-06-03 22:29] gfiury commented on #39
I have 1.17.2 (Stable for [Windows](https://storage.googleapis.com/flutter_infra/releases/stable/windows/flutter_windows_1.17.2-stable.zip))

[2020-06-04 01:24] rlechetaudemy commented on #39
Can't get it to work :-(
I think the plugin should be update to work like this:
https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration

[2020-06-04 03:32] shikelong commented on #40
+1

[2020-06-11 04:32] ramsubramani opened #41 "iOS is show error "framework not found flutter_zoom_plugin" how to fix this"
i have download in flutter_zoom_plugin/mater.git it is working in android app but ios app is show framework not found flutter_zoom_plugin ...i tried your flutter_zoom_plugin/example/..app

<img width="266" alt="Screenshot 2020-06-11 at 09 55 09" src="https://user-images.githubusercontent.com/54182353/84345192-540b6d80-abca-11ea-84bd-fae80b0e5990.png">
<img width="590" alt="Screenshot 2020-06-11 at

[2020-06-13 11:47] johntyty912 opened #42 "login to zoom with email and start an instant meeting"
**Describe the solution you'd like**
I would like to be able to login to zoom with email and start an instant meeting, also it would be great if we can get the meeting id and pwd after starting the meeting.

[2020-06-15 11:11] kevinbayes commented on #40
@MohamedAliiMe can you publish a sample app that you created to reproduce the problem?

[2020-06-15 11:27] DzungTNgo commented on #41
Hi,

I have run the app with similar configuration you show here but I could not replicate the issue. Could you please provide more information on how to produce it, more detailed error outputs, etc. as well as flutter doctor output?

[2020-06-18 10:02] JeanEngelbrecht01 opened #43 "App crashes on Android when joining a meeting"
## Your Environment
* Plugin version: 0.0.7
* Platform: Android
* OS version: 6.0
* Device manufacturer / model: Huawei ALE-L02
* Flutter info (`flutter doctor`):
[✓] Flutter (Channel stable, v1.17.2, on Mac OS X 10.15.4 19E266, locale en-ZA)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.3.1)
[✓] Android Studio (ve

[2020-06-18 21:35] DzungTNgo commented on #43
Hi,

Could you check if you have added the zoom Proguard content to your Android project? https://github.com/zoom/zoom-sdk-android/blob/master/proguard.cfg

[2020-06-19 06:53] JeanEngelbrecht01 commented on #43
Hi,

I did not add the proguard.cfg

I am a bit new to flutter, would you be able to give me a link to steps to do this or a tutorial?

[2020-06-29 09:00] milzamhibatullah opened #45 "ERROR[Android] Sdk Location not found"
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Debug logs

<details>
	<summary>Logs</summary>

[code]

</details>

[2020-07-13 11:45] aniteshreddy commented on #12
@vulieumang can you please send ur code . I have a trouble in getting started

[2020-07-17 18:32] pradgc opened #46 "Error after adding pubspec dependency"
After I add in pubspec.yaml, I am getting the following error -

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':flutter_zoom_plugin:bundleDebugAar'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD F

[2020-07-28 03:18] evilmtv commented on #33
This worked for me, thank you.

[2020-08-01 09:17] sa2608 commented on #45
I am getting same error.

[2020-08-03 06:52] sudip92 opened #47 "Please Add Start Call Feature"
In this current plugin, we can only join an ongoing call. Is there any way to start a meeting as host in this current version.

[2020-08-05 11:34] DzungTNgo commented on #46
Hi,

Could you please provide more information about flutter doctor output, device used, version etc. as outlined in the bug report template?

[2020-08-05 11:38] DzungTNgo commented on #47
Thanks for the interest. We have a PR currently for starting call with non-login user. It is being reviewed in the next couple of days.

We also have a ticket for implementing the login user flow. It will get implemented when we have time. Of course, any PR and contributions are welcomed.

[2020-08-10 21:21] #47 closed

[2020-08-13 11:43] Maadhav commented on #39
Any update on this?

[2020-08-13 22:14] kevinbayes commented on #39
@Maadhav if you have a sample small application that can simulate the problem it would be good to post for us to test.

[2020-08-14 03:35] Maadhav commented on #39
I just downloaded the example and ran the program with my app key and secret. But when I join a meeting the error mentioned above just comes, and nothing appears.
```Unhandled Exception: PlatformException(error, java.lang.IllegalStateException: Trying to create a platform view of unregistered type: flutter_zoom_plugin ```

[2020-08-15 02:08] romeshn opened #48 "Unable to run example app"
## Your Environment
* Plugin version: master branch
* Platform: iOS
* OS version: mac Catalina
* Device manufacturer / model:
iPhone 7
* Flutter info (`flutter doctor`):
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.17.4, on Mac OS X 10.15.3 19D76, locale en-US)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode

[2020-08-20 13:34] sudip92 commented on #43
Please add proguard-rules.pro in **android > app** folder and also use proguard file in build.gradle

buildTypes {
        release {
            shrinkResources true
            minifyEnabled true
            proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
            signingConfig signingConfigs.release
        }
    }

[2020-08-23 02:20] longvhv commented on #39
I have the same error: Unhandled Exception: PlatformException(error, java.lang.IllegalStateException: Trying to create a platform view of unregistered type: flutter_zoom_plugin

[2020-08-23 02:32] Maadhav commented on #39
@longvhv So to use this plugin u will have yo manually create a new project change the amdroid and ios files as told in the Reame. The same error occurred with me when trying to run the example app

[2020-08-24 18:52] ortal83cohen commented on #46
I've got the same issue, after updating the android project to com.android.tools.build:gradle:4.0.0

[2020-08-25 10:31] longvhv commented on #39
Thank @Maadhav , I will give it a try.

[2020-08-28 08:19] Bharavi26 commented on #39
i am getting same error when i run example code...
anyone can please help me or there is any demo code in which **flutter_zoom_plugin** is integrated ?

[2020-08-28 12:36] Maadhav commented on #39
@Bharavi26 I have uploaded my example on my Github.
https://github.com/Maadhav/zoom_flutter_example
Don't forget to add the necessary keys and secrets in the lib folder.
Hope it helps

[2020-08-28 13:23] Bharavi26 commented on #39
Thank you so much @Maadhav sir, I will check that ..I am working on that error from last 2 days,

[2020-08-28 16:22] romeshn commented on #39
I am not able to get it working, below are the steps I followed.

https://github.com/Maadhav/zoom_flutter_example
update appKey, appSecret and userId
flutter pub run flutter_zoom_plugin:unzip_zoom_sdk dev
flutter run
Join meeting
Then I am getting a blank screen.

An Observatory debugger and profiler on iPhone 11 Pro is available at: http://127.0.0.1:53213/mN3qvL0silY=/
flutter: Created the view
[

[2020-08-28 17:02] Maadhav commented on #39
@romeshn Didn't try with ios yet. Could u pls test if the same issue occurs in android?

[2020-08-28 17:14] romeshn commented on #39
@Maadhav similar error in android. see below

D/        (13506): HostConnection::get() New Host Connection established 0xe60b2100, tid 13520
D/        (13506): HostConnection::get() New Host Connection established 0xf0828700, tid 13518
I/flutter (13506): Created the view
I/ample.zoom_tes(13506): Background concurrent copying GC freed 20871(2MB) AllocSpace objects, 0(0B) LOS objects, 51% free, 1463

[2020-09-02 19:44] rubensbarreto commented on #46
Good evening same issue here running on android simulator,  using Visual Studio Code 1.48.2, VSCode Flutter plugin 3.13.2 here are the info:

**Branch:**master
**Flutter Doctor output:**
[✓] Flutter (Channel stable, 1.20.2, on Mac OS X 10.15.6 19G2021, locale en-BR)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.7)
[

[2020-09-23 09:29] selvesandev opened #49 "Meeting Password dialog appears even the password is set on the ZoomMeetingOptions"
The start meeting widget is asking for a meeting password even when i provided the password in the `ZoomMeetingOptoins`

* Platform: iOS or Android

[code]

## Expected Behavior
The meeting password dialog should not pop up. The dialog box does not appear while using the `MeetingWidget`. Shouldn't it be same for the `StartMeetingWidget` as well

[2020-09-23 10:44] azackmatoff commented on #45
Have the same error. Flutter doctor is showing no problems

[2020-09-23 11:20] azackmatoff commented on #45
Solved issue! Copied my local.properties file from project, and pasted it under main flutter folder, under .pub_cache, under zoom package, under android folder just like in the main project. It worked.

[2020-09-23 12:15] selvesandev commented on #49
Sorry there was wrong ZAK being used, closing this for now. Thank you to the contributors for doing such a awesome work. Please keep updating this

[2020-09-23 12:15] #49 closed, assigned to nobody

[2020-09-23 14:56] NightlyRaven commented on #43
* Where:

* What went wrong:
A problem occurred evaluating project ':flutter_zoom_plugin'.

Please note that I did follow @sudip92 suggestion but it seems that the release property cannot be found. Do I need to declare it inside the android context? If so, how do I go on to do it?

[2020-09-28 10:59] sergiyvergun opened #50 "Zoom’s domain"
Is there a possibility to change zoom’s domain? If yes, how many instead of .us are available?

[2020-09-29 13:12] azackmatoff commented on #49
So, I’m having the same issue, it worked couple times to start meeting, but now it’s asking for a password to start meeting, a pop up is appearing, i enter password, it’s taking to a waiting room of zoom and not starting anything.
What to do next?

[2020-09-30 09:30] jaganpsjaganps opened #51 "Error in starting the zoom meeting"
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior

it should have started meeting when i passed my token ,userid and displayname and the meeting should have been established
## Actual Behavior

its in the idle postion and never started the meeting
## Steps to

[2020-10-04 03:43] kevinbayes commented on #50
@sergiyvergun the domain is the zoom associated domain. You can get yourself a vanity one but the .us is the default. Just look at the zoom reference documentation.

[2020-10-04 03:45] kevinbayes commented on #45
@azackmatoff excellent. Did that help everyone?

[2020-10-04 16:56] shpy2001 opened #52 "Can't build on ios emulator."
I can't find master_dev anymore. How can i continue ?

[2020-10-04 18:46] sj210 commented on #45
where are you reffering when you say main flutter folder under .pub-cache . Can you give a screenshot?

[2020-10-04 18:47] youssef-99 commented on #20
i have the same error how can I fix it?

[2020-10-04 19:26] sj210 commented on #40
any solutions for this problem ?

[2020-10-04 19:48] sj210 commented on #51
+1

[2020-10-05 11:46] JAGANPS commented on #51
Can you be clear with your answer

[2020-10-05 23:14] Cretezy commented on #38
This is still happening. What was the fix? (using 0.8 or master)

It seems to only be happening with `run` and not `build`.

[2020-10-07 02:41] praharshbhatt opened #53 "Direct local .aar file dependencies are not supported when building an AAR."
## Your Environment
* Plugin version: 0.08
* Platform: Android
* OS version: Microsoft Windows [Version 10.0.19041.508]
* Flutter info (`flutter doctor`):
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 1.22.0, on Microsoft Windows [Version 10.0.19041.508], locale en-US)

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
[√] A

[2020-10-07 10:10] shpy2001 commented on #42
This is a feature I would love to have.

[2020-10-07 20:50] DzungTNgo commented on #52
Hi, we have removed it. There is another way to run on iOS simulator. Please refer to the README, iOS installation section for details (https://github.com/decodedhealth/flutter_zoom_plugin#ios)

[2020-10-07 20:50] #52 closed, assigned to nobody

[2020-10-08 04:12] Cretezy commented on #38
Seems like downgrading Gradle from 3.5.0 to 3.4.2

[2020-10-08 10:28] #50 closed, assigned to nobody

[2020-10-09 03:03] praharshbhatt commented on #53
Any updates?

[2020-10-13 12:40] praharshbhatt commented on #38
Still face the same issue

[2020-10-15 12:14] sjkbnx opened #54 "flutter_zoom_plugin` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod."
pubspec.yaml entry:

flutter_zoom_plugin:
      git:
        url: git://github.com/decodedhealth/flutter_zoom_plugin.git
        ref: 0.0.8

[2020-10-28 23:16] MacaCar96 commented on #45
Yo también tuve el mismo error cuando trataba de compilar mi proyecto con Zoom. Buscando en diversos foros encontré la solución, la cual a mí me funciono. Lo que hice fue cambiar mi compileSdkVersion 28 a compileSdkVersion 29 y el targetSdkVersion 28 a targetSdkVersion 29. Les dejo una camtura de pantalla.
La ruta del archivo es la siguiente: /tu_proyecto/android/app/build.gradle
![image](https://

[2020-10-28 23:22] MacaCar96 commented on #38
Yo también tuve el mismo error cuando trataba de compilar mi proyecto con Zoom. Buscando en diversos foros encontré la solución, la cual a mí me funciono. Lo que hice fue cambiar mi classpath 'com.android.tools.build:gradle:3.5.0' a classpath 'com.android.tools.build:gradle:3.4.2'. Les dejo una camtura de pantalla.
La ruta del archivo es la siguiente: /tu_proyecto/android/build.gradle
![image](htt

[2020-10-28 23:28] MacaCar96 commented on #40
Aquí publique el mismo error de esta pregunta:  #45

[2020-11-05 13:36] Mallikarjun7657 commented on #53
@praharshbhatt I am also facing same issue ? Did you fixed the issue ? If yes, please let me know how did you fixed.

Execution failed for task ':flutter_zoom_plugin:bundleDebugAar'.

[2020-11-08 08:19] agrmay100 commented on #40
solved!...change compilesdkversion to 29 in build.gradle

[2020-11-13 04:26] praharshbhatt commented on #53
@Mallikarjun7657 Can you retry with the following configuration:
[code]

flutter clean
flutter pub cache repair
flutter run

[2020-11-19 13:05] Aadiyaara commented on #54
This may work
https://github.com/esysberlin/esys-flutter-share/issues/24#issuecomment-527611976

[2020-11-23 14:16] izaiasemjr commented on #38
For  me downgrading 'com.android.tools.build:gradle:3.5.0' to 'com.android.tools.build:gradle:3.4.2' works fine. But, someone knows say whtat's causing this behavior?  its zoom SDK incompatibilities or that coming from flutter's lib?

[2020-11-26 14:10] izaiasemjr commented on #33
Hi, Someone have some feelings why the package not work using the more recent gradle (3.5.0)?

[2020-11-29 01:11] kevinbayes commented on #33
Yeah the packaging just needs to be fixed. Once that is done the upgrade can be done. We are just a bit slammed at the moment so cannot get around to doing it. We can review a pull request if needed.

[2020-12-01 11:53] izaiasemjr commented on #33
Thanks @kevinbayes for answer me.  Would have some  directions to solve this problem?

[2020-12-07 07:35] hipoojan commented on #43
I have the same issue, I tried after adding the proguard file but it didn't make any difference, the plugin works fine in debug mode, but in release it's just an instant crash on joining a meeting.

[2020-12-07 12:34] hipoojan commented on #43
Found a fix for the issue, no need for proguard, just build with --no-shrink tag, the reason why it works in debug mode is that it's not shrinked

[2020-12-08 07:43] jaganpsjaganps opened #55 "How to bypass registration form during joining the zoom meeting"
---
name: Bug report
about: Create a report to help us improve
title: how to bypass the registration form on joining the meeting
labels: ''
assignees: ''

---

## Your Environment
* Plugin version:0.0.8
* Platform:  Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior
should not generate the user form on joining the z

[2020-12-23 13:17] JAGANPS commented on #41
@DzungTNgo @kevinbayes @gfiury
I am getting this error when run the iOS

Launching lib/main.dart on iPhone 6 Plus in debug mode...

Running pod install...                                              6.3s
Running Xcode build...
Xcode build done.                                           24.9s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    Whi

[2020-12-25 12:00] KarimMohamed20 commented on #41
You should open "Runner.xcworkspace" instead of "Runner.xcodeproj"

[2021-01-05 12:39] amaurya08 commented on #53
I am facing the same issue,
even tried importing the AAR module and then in gradle file. still no luck !

[2021-01-06 01:16] ahmed-mohsin opened #56 "hide meeting id"
i want to hide meeting id and meeting passcode s there any chance to do that wthout modifyng sdks ?

[2021-01-09 05:49] amaurya08 commented on #53
**Found a solution & it worked with Debug-RELEASE  APK/Bundle**

if you have a flutter project **demo**
then in **android** module of **demo**
**-->** Open build.gradle (app level) insert following code

       **Sample**
      implementation fileTree(include: '*.aar', dir: '<path to zoom-plugin-libs>') //path relative to  folder(aar files are stored) present in zoom-plugin dir

        **Example*

[2021-01-11 03:50] hongjianxun opened #57 "Zoom meeting is disappear when click the icon on screen"
## Your Environment
* Plugin version: master
* Platform: Android
* OS version: android9.0
* Device manufacturer / model: pixel 3
* Flutter info (`flutter doctor`):
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 1.22.5, on macOS 11.1 20C69 darwin-arm, locale zh-Hans-CN)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[✓] Xc

[2021-01-11 07:17] #57 closed, assigned to nobody

[2021-01-13 07:56] arbyazra123 commented on #43
hi, but the link is inactive now, there is no page

[2021-01-13 17:10] muhamedRadwan commented on #43
hi, @arbyazra123 did you make zoom integrated as participant inside the flutter app if so I have paid task for you Whatsapp me or email me muhameda.radwan@gmail.com - +201148037467

[2021-01-14 16:04] JAGANPS opened #58 "How to diable Meeting registration on joining meeting"
@kevinbayes  @gfiury  @DzungTNgo  @ShimiBaliti

Hello i am using the plugin and its works  as gem to me but i have problem i am facing the issue when joining the meeting i get a pop up for registration which i don't want user to get registered ,how can i handle this background please suggest me how to implement this i am stuck at this .

Thanks in advance
Jagan PS

![WhatsApp Image 2021-01-12 at 1

[2021-01-14 16:21] gfiury commented on #58
Hey @JAGANPS, you shouldn't be facing this problem

[code]
The `userId ` should be a valid Zoom User Id

The Zoom API to [create an user](https://marketplace.zoom.us/docs/api-reference/zoom-api/users/usercreate)
The Zoom API to [get an user](https://marketplace.zoom.us/docs/api-reference/zoom-api/users/userl)

Let me know if you are already using a valid Id

[2021-01-16 08:07] JAGANPS commented on #58
@gfiury  yes I am using a valid zoom id and I am passing the user mail-id as  userId,

![Screenshot 2021-01-16 at 1 35 32 PM](https://user-images.githubusercontent.com/40148628/104806740-b6cb8400-57ff-11eb-9ab1-d07a3d11c40a.png)
when I tested with simulator I am not able to join the meeting but with connection of physical device I am able to connect
![Screenshot 2021-01-16 at 1 37 13 PM](https://u

[2021-01-16 08:11] JAGANPS commented on #56
in the controller you can remove it and pass the string with valid hidden letters as requested

[2021-01-18 15:54] JAGANPS commented on #58
@gfiury @kevinbayes  @DzungTNgo @ShimiBaliti
 hi when I went through the documentation of zoom I came over the function
void setRegisterWebinarInfo(java.lang.String name,
                            java.lang.String email,
                            boolean cancel)
I am able to set the display name by passing userid but after it I get this function how to handle this at backend
how to integrate t

[2021-01-18 18:07] gfiury commented on #58
@JAGANPS

You can't call that from Flutter because that is java code `java.lang.String email`. You need to extend the class [ZoomView.java](https://github.com/decodedhealth/flutter_zoom_plugin/blob/master/android/src/main/java/com/decodedhealth/flutter_zoom_plugin/ZoomView.java)

Here is the Zoom Doc: [InMeetingServiceListener](https://zoom.github.io/zoom-sdk-android/us/zoom/sdk/InMeetingServiceLi

[2021-01-18 18:13] JAGANPS commented on #58
@kevinbayes @DzungTNgo @ShimiBaliti @gfiury

error: method does not override or implement a method from a supertype
@Override
^
1 error
When I remove the @override  function still I get the webinar registration
I still get the same webinar registration which I am not able to pass even when I hard code it I am getting the same issue
![WhatsApp Image 2021-01-12 at 10 29 15 AM](https://user-images.gi

[2021-01-22 08:12] JAGANPS opened #59 "How to parse url to join the meeting"
**Is your feature request related to a problem? Please describe.**
I am getting join url which has meeting ID ,password and token which only registered users can join the meeting ,now how to parse this and join the meeting for now I am navigating it original zoom app to join the meeting without any issue but I need to join with in the application how can I process it .

**Describe the solution you

[2021-01-22 08:13] JAGANPS commented on #32
can we use web view plugin so on join pressed open the web within the application without any issue
flutter_inappwebview: ^4.0.0+4

[2021-01-25 14:21] misskter opened #60 "IOS mobile phone construction failed"
I use this plug-in to run in the IOS simulator, but when I use my iPhone to build it, it prompts me that the build failed. The error log is

[code]

[code]
This is my development environment

[code]
[code]
How can I solve this problem？

[2021-01-29 13:49] dulkith commented on #53
@amaurya08 Where i need to add these lines?
   compileOnly files('libs/commonlib.aar') //path relative to libs folder present in zoom-plugin dir
   compileOnly files('libs/mobilertc.aar')    //path relative to libs folder present in zoom-plugin dir

[2021-01-30 07:32] amaurya08 commented on #53
Just for the sake of making my project work, I added the zoom plugin complete folder into project root folder. Here is the screenshot for the same and for the libs folder

![image](https://user-images.githubusercontent.com/23228566/106350450-70941b80-62fb-11eb-97bd-836df330ef6e.png)

[2021-02-06 15:33] aartiaparekh opened #61 "Zoom Schedule Meeting"
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior
I want to schedule zoom meeting.

## Actual Behavior
I can't schedule zoom meeting.

[2021-02-06 15:34] aartiaparekh commented on #61
Can you please help me to schedule zoom meeting? Its urgent.

[2021-02-10 12:18] d-at-squareboat commented on #39
Android is working fine for me but when it comes to iOS, I'm getting this error.
`PlatformException(unregistered_view_type, trying to create a view with an unregistered type, unregistered view type: 'flutter_zoom_plugin', null)`
Can you please let me know how you got it working on iOS?

[2021-02-16 07:30] d-at-squareboat opened #62 "Update the SDKs to the latest stable versions"
Please update the native SDKs used to the latest stable version as there are other APIs available only on the LTS versions. Also, update the meeting options parameters ex: hide meeting id and password, etc.

[2021-02-17 11:15] shargeel071 opened #63 "sdk initialization failed"
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Debug logs

<details>
	<summary>Logs</summary>

[code]

</details>

[2021-02-18 11:59] jasjyot-kaur commented on #48
@romeshn Did you get the solution for this??
I am also facing the same issue, its urgent if you can help me.

[2021-02-18 12:19] jasjyot-kaur commented on #61
@aartiaparekh
Did you get the solution for this issue??

[2021-03-06 10:40] ryosuji commented on #17
404 :(

see below :
https://github.com/decodedhealth/flutter_zoom_plugin/issues/14

[2021-03-12 11:40] devianl2 opened #65 "Not Working with build gradle 4.+"
This plugin is working on gradle 3.x version but not 4.x

This is the error I received from build gradle 4.0.0:

Execution failed for task ':flutter_zoom_plugin:bundleDebugAar'.

[2021-03-22 12:21] yogi00195 opened #66 "Resolving dependencies... Because flutter_zoom_plugin_example depends on both flutter_zoom_plugin from hosted and flutter_zoom_plugin from path, version solving failed. pub finished with exit code 1 Process finished with exit code 1"
## Your Environment: Windows with Android Studio
* Plugin version: 0.0.8 and ^0.0.78
* Platform:  Android
* OS version: Windows 10 Pro
* Device manufacturer / model: DESKTOP-C6OOEBD
* Flutter info (`flutter doctor`):
* [√] Android Studio (version 4.1.0)
    • Android Studio at C:\Program Files\Android\Android Studio
    • Flutter plugin can be installed from:
       https://plugins.jetbrains.com/p

[2021-03-25 13:35] AjiSuryawan commented on #45
I solved this problem by increasing the min sdk first, and then copy paste the flutter_zoom_plugin: again

[2021-03-30 03:24] ibrahimnagy opened #67 "prevent screen-shot and screen recording are not working"
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

[2021-03-30 09:19] larssn commented on #53
I'm facing a similar issue, but Google states:

Source: https://developer.android.com/studio/build/dependencies

[2021-03-30 12:10] amaurya08 commented on #53
**add compileOnly in plugin's android module project level (build.gradle) file. I am using follwoing gradle configuration**

`group 'com.decodedhealth.flutter_zoom_plugin'
version '1.0-SNAPSHOT'

buildscript {
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.4.0'
    }
}

rootProject.allprojects {
    repositories {

[2021-04-03 08:17] chamithchathuka commented on #41
facing the same issue .

[2021-04-17 11:51] Nishakar561 commented on #53
It is not working. I'm having the same issue.
Execution failed for task ':flutter_zoom_plugin:bundleDebugAar'.

[2021-04-20 15:29] isaacpitwa commented on #41
facing the same issue .

[2021-04-22 04:59] mirkarpude opened #69 "Request for null safety"

[2021-04-23 09:54] longld8x commented on #43
Tried. It's working :)

[2021-04-26 17:14] ahsan1246 commented on #63
In this section, you have to provide your own zoom app key and secret.
First, you have to create your application on zoom by clicking on the marketplace.
inside the marketplace, you have to be select the application type. The application type should be SDK.
After creating the application successfully, on the left side of the page, there is an app credentials option.
Inside this, there is an appKey

[2021-04-27 17:45] majirosstefan commented on #41
me too, seems that "example app" has bug.

UPDATE:
Well, "framework_not_found" seems to be "a well-known" problem: https://github.com/flutter/flutter/issues/53573
So I decided to run the example app with "flutter build ios" command in a terminal, and it is running (running directly in Xcode was failing).

[2021-05-22 08:07] hashirventhodi commented on #43
Not worked. Any other solution?

[2021-05-29 17:30] bikcrum commented on #69
Can anyone please take this into account?

[2021-05-31 09:43] omchiii commented on #43
@hashirventhodi No need to build with --no-shrink

your proguard-rules.pro file has to be
[code]
Add this to app/build.grade and make sure your proguard-rules.pro file is in the same directory as app level build gradle
[code]

[2021-06-18 10:57] rahul69x commented on #56
Hi JAGANPS, Where i can found controller? Can you please let me know? How can i pass hidden letters?

[2021-07-06 08:40] Mtharwat95 commented on #69
any supporting for null saftey ??

[2021-07-15 11:30] aanaman opened #70 "Undefined symbol: _OBJC_CLASS_$_MobileRTCSDKInitContext"
## Your Environment
* Plugin version: master
* Platform: iOS
* OS version:
* Device manufacturer/model: Apple MacBook Pro 2012
* Flutter info (`flutter doctor`): Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.2.3, on Mac OS X 10.15.7 19H1217 darwin-x64,
    locale en-GH)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
[✓]

[2021-07-16 04:55] CoolBoe opened #71 "is there any way to customize the zoom sdk"
**Requirement of custom zoom UI*
currently I am working on an app in which we required to customize our UI. i am also trying to customize zoom UI but this is not working if anyone can help me on this.

[2021-07-16 06:51] #70 closed, assigned to nobody

[2021-08-11 10:20] vahidah opened #73 "how to enable share screen in ios?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-26 13:44] ahmed20142015 commented on #39
Did you find any solutons?

[2021-09-08 09:04] hashirventhodi commented on #65
any solution?

[2021-09-08 09:04] hashirventhodi commented on #46
any solution?

[2021-09-22 09:10] nashihu opened #74 "does it support in meeting chat?"

[2021-09-22 09:28] nashihu commented on #74
ah it's supported, there's a button chat under participants

![image](https://user-images.githubusercontent.com/35857544/134318862-3b807e1f-17f3-4bd7-862b-daccc838ca7c.png)

[2021-09-22 09:28] #74 closed, assigned to nobody

[2021-10-14 10:08] lucabecchetti opened #75 "How can I know I someone leave the meeting?"
Is there a way to know I someone leave the meeting?

[2021-10-18 14:20] lucabecchetti opened #76 "End meeting programmatically"
How can I End meeting programmatically ?

[2021-10-25 13:24] #66 closed, assigned to nobody

[2021-10-25 13:24] yogi00195 commented on #66
Closed

[2021-10-31 00:17] mohammedsalem97 commented on #65
I'm facing the same issue too

[2021-11-01 09:33] AthulRk opened #77 "The plugin `flutter_zoom_plugin` uses a deprecated version of the Android embedding."
plugin version 0.0.8
Flutter version  2.5.1

[2021-11-15 05:27] ForceGT commented on #41
Well running the commands fixed it for me
The technical truth is that we need to get the zoom sdk which contains the `MobileRTC` framework and this command does that exactly: Get the SDK from zoom and unzip it
The plugin just references things from there directly

[code]

[2021-12-01 05:22] Maqsood0 opened #78 "Flutter zoom plugin makes apk too big ."
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Debug logs

<details>
	<summary>Logs</summary>

[code]

</details>

[2021-12-10 06:45] #78 closed, assigned to nobody

[2021-12-18 19:32] chandan123-pradhan opened #79 "App Crashing on Release mode. but its working fine in debug mode. can you help me? in same code."
## Your Environment
* Plugin version:
* Platform: iOS or Android
* OS version:
* Device manufacturer / model:
* Flutter info (`flutter doctor`):
* Plugin config:
[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Debug logs

<details>
	<summary>Logs</summary>

[code]

</details>

[2021-12-24 09:40] ayu8899 commented on #56
Hi, I have added the following setting in ZoomView but  seems not working

opts.meeting_views_options = MeetingViewsOptions.NO_TEXT_MEETING_ID +            MeetingViewsOptions.NO_TEXT_PASSWORD;

Appreciate if anyone can help on hiding the meeting ID and Passcode in meeting view

[2021-12-24 10:35] ayu8899 opened #80 "Not able to hide meeting Id and Passcode"
According to this: https://devforum.zoom.us/t/want-to-hide-meeting-id-meeting-password-meeting-link-participant-id-from-main-screen-in-android-sdk/25425

The following code have been added in ZoomView , however it doesn't take affect and the meeting view still showing meeting ID and passcode:

Anyone can advise?

opts.meeting_views_options = MeetingViewsOptions.NO_TEXT_MEETING_ID +

[2022-01-11 05:46] kamal516 opened #81 "in xcode show mobileRTC error but it works in android"
## xcode
* Plugin version:
* Platform: iOS
* OS version: 13.2.1
* Device manufacturer / model: any iphone
* Flutter info (`flutter doctor`): all download
* Plugin config:
[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Debug logs

<details>
	<summary>Logs</summary>

[code]

</details>

[2022-01-13 19:07] navodikamadushan opened #82 "More than one file was found with OS independent path 'res/drawable/zm_next_arrow.xml'"
**Is your feature request related to a problem? Please describe.**
Execution failed for task ':flutter_zoom_plugin:mergeReleaseJavaResource'.
A failure occurred while executing com.android.build.gradle.internal.tasks.Workers$ActionFacade
More than one file was found with OS independent path 'res/drawable/zm_next_arrow.xml'

![Capture](https://user-images.githubusercontent.com/88607441/149393536-25

[2022-02-05 08:03] dhruvsakariyalvits commented on #46
same here.

[2022-02-14 15:50] markfili commented on #53
any progress or solutions to this "direct local .aar file" problem?

[2022-02-18 01:40] CarlBinneman commented on #53
See solution posted to [https://github.com/flutter/flutter/issues/28195](url)

[2022-03-04 10:33] abdul-webiixx commented on #53
Execution failed for task ':flutter_zoom_plugin:bundleReleaseAar'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 2m 29s

[2022-08-04 10:19] 1-poojapatil commented on #20
Give app name as xyz.zoom.us in zoom account and in the code mention domain as zoom.us
This is How i resolve it,Thank you

[2022-08-05 06:21] 1-poojapatil commented on #20
Or please check in zoom account which app type you have used

[2022-10-06 14:05] mohamedbasha275 commented on #81
@kamal516 I have the same problem did you solve it?

[2022-10-07 05:20] kamal516 commented on #81
@mohamedbasha275  no , still same error..